/* ==========  Third party  ========== */
@import "normalize.css/normalize";

/* ==========  Variables, Mixins, Fonts ========== */
@import "vars";
@import "fonts";

/* ==========  Global ========== */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  font-size: 10px;
}

body {
  font-family: $body-font;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  position: relative;
  overflow-x: hidden;
  color: $text-color;
  background-color: $accent-color-1;
  @media (max-width: 768px) {
    line-height: 1.5;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $body-font;
}

a {
  text-decoration: none;
}

b, strong {
  font-weight: 700;
}

img, svg{
  max-width: 100%;
}

/* ==========  Custom  ========== */
@import "partials/header";
