/*==========  Third party  ==========*/
@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/reset-css/reset.css"

/*==========  Variables, Mixins, Fonts ==========*/
@import "vars"

/*==========  Global ==========*/
*, *::before, *::after
	box-sizing border-box
	margin 0
	padding 0

html, body
	height 100%

body
	font-family $default-font
	font-size 16px
	font-weight 300
	line-height 1.75
	min-width 320px
	position relative
	overflow-x hidden
	color $text-color
	background-color $accent-color-1
	text-align center

a
	text-decoration none
	transition opacity 0.3s ease
	&:hover
		opacity 0.7

b
	font-weight 700

p
	margin 1em 0

section
	margin 2em 0

/*==========  Custom  ==========*/
@import "partials/header"
@import "partials/footer"

/*==========  Import Media Queries (Always at the end)  ==========*/
@import "media"