$body-font: 'Raleway', sans-serif;
$accent-color-1: #f5f5f5;
$accent-color-2: #c2185b;
$text-color: #000;

.color-accent-1 {
	color: $accent-color-1;
}
.color-accent-2 {
	color: $accent-color-2;
}